<div class="wrap">
    <div class="static">

        <h1>Belépés</h1>

        <p class="lead">(Lead) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet nibh dolor. In hac habitasse platea dictumst. Maecenas convallis at lacus sit amet porttitor. Mauris eleifend volutpat eros, sit amet posuere leo facilisis vitae. Nam luctus luctus massa, ac ornare sem ullamcorper finibus enim at euismod convallis.</p>

        <div class="form-elements">

            <div class="form-line">
                <div class="input-container error">
                    <label class="important">E-mail cím</label>
                    <input type="text" name="" value="" placeholder="Lorem ipsum">
                    <div class="error-msg">Hibaüzenet</div>
                </div>
            </div>

            <div class="form-line">
                <div class="input-container">
                    <label class="important">Jelszó</label>
                    <input type="password" name="" value="" placeholder="Lorem ipsum">
                    <div class="error-msg">Hibaüzenet</div>
                </div>
            </div>

        </div>

        <div class="form-elements">

            <div class="form-line">
                <div class="checkbox-container">
                    <input type="checkbox" id="chk1" value="" checked>
                    <label for="chk1">Emlékezzen rám</label>
                </div>
            </div>

        </div>

        <div class="form-btn-container">
            <a href="" title="" class="btn">Belépés</a>
        </div>

    </div>
</div>
