<div class="homepage">


    <div class="main-banner">
        <div class="wrap">

            <div class="head-container">
                <h1>Lorem ipsum dolor sit amet</h1>
            </div>

            <div class="content-container">

                <div class="text-container">
                    <p><strong>Pellentesque commodo efficitur purus, eget tincidunt leo. Nullam sit amet auctor mauris, eu dignissim neque.</strong></p>
                    <p>Suspendisse potenti. Ut iaculis ligula magna, ac cursus dolor gravida ac. Donec at tristique tortor. Phasellus porttitor ex convalli.</p>
                    <a href="" title="" class="btn">Bővebben</a>

                </div>

                <div class="img-container">
                    <img src="pics/main-banner-pic-500x245.png" alt="">
                </div>
            </div>

        </div>
    </div>

    <!--start: wrapper -->
    <div class="wrap">

        <!-- start: usp -->
        <div class="usp">
            <div class="inner">

                <div class="item usp-1">
                    <div class="title">100% eredeti</div>
                    <div class="subtitle">Kizárólag eredeti termékek</div>
                </div>
                <div class="item usp-2">
                    <div class="title">Biztonságos fizetés</div>
                    <div class="subtitle">Paypal, OtP Bank, Simple Pay</div>
                </div>
                <div class="item usp-3">
                    <div class="title">Gyors kiszállítás</div>
                    <div class="subtitle">GLS, MPL, Foxpost, PickPackPont</div>
                </div>
                <div class="item usp-4">
                    <div class="title">Ügyfélszolgálat</div>
                    <div class="subtitle">Akár chat-en is elérhető!</div>
                </div>

            </div>
        </div>
        <!-- end: usp -->


        <!-- start: product list -->
        <div class="product-list">

            <div class="products-heading">
                <h1>Akciós termékek</h1>
                <a href="" title="" class="see-all-link">Akciós termékek<span>12</span></a>
            </div>

            <ul class="products">

                <li>
                    <a href="" title="" class="sale new">
                        <div class="new-badge">Új</div>
                        <div class="img-container">
                            <img src="pics/prod-sample-180x180.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</div>
                            <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="" title="" class="new">
                        <div class="new-badge">Új</div>
                        <div class="img-container">
                            <img src="pics/prod-sample-180x180.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="prod-name">Lorem ipsum dolor sit amet</div>
                            <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="" title="" class="sale new">
                        <div class="new-badge">Új</div>
                        <div class="img-container">
                            <img src="pics/prod-sample-180x180.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</div>
                            <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="" title="" class="sale">
                        <div class="new-badge">Új</div>
                        <div class="img-container">
                            <img src="pics/prod-sample-180x180.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="prod-name">Lorem ipsum dolor sit amet</div>
                            <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="" title="" class="sale">
                        <div class="new-badge">Új</div>
                        <div class="img-container">
                            <img src="pics/prod-sample-180x180.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</div>
                            <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="" title="" class="">
                        <div class="new-badge">Új</div>
                        <div class="img-container">
                            <img src="pics/prod-sample-180x180.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="prod-name">Lorem ipsum dolor sit amet</div>
                            <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                        </div>
                    </a>
                </li>

            </ul>

        </div>
        <!-- start: product list -->

        <!-- start: product list -->
        <div class="product-list">

            <div class="products-heading">
                <h1>Újdonságok</h1>
                <a href="" title="" class="see-all-link">Újdonságok<span>45</span></a>
            </div>

            <ul class="products">

                <li>
                    <a href="" title="" class="sale new">
                        <div class="new-badge">Új</div>
                        <div class="img-container">
                            <img src="pics/prod-sample-180x180.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</div>
                            <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="" title="" class="new">
                        <div class="new-badge">Új</div>
                        <div class="img-container">
                            <img src="pics/prod-sample-180x180.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="prod-name">Lorem ipsum dolor sit amet</div>
                            <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="" title="" class="sale new">
                        <div class="new-badge">Új</div>
                        <div class="img-container">
                            <img src="pics/prod-sample-180x180.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</div>
                            <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="" title="" class="sale">
                        <div class="new-badge">Új</div>
                        <div class="img-container">
                            <img src="pics/prod-sample-180x180.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="prod-name">Lorem ipsum dolor sit amet</div>
                            <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="" title="" class="sale">
                        <div class="new-badge">Új</div>
                        <div class="img-container">
                            <img src="pics/prod-sample-180x180.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</div>
                            <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="" title="" class="">
                        <div class="new-badge">Új</div>
                        <div class="img-container">
                            <img src="pics/prod-sample-180x180.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="prod-name">Lorem ipsum dolor sit amet</div>
                            <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                        </div>
                    </a>
                </li>

            </ul>

        </div>
        <!-- start: product list -->

        <!-- start: product list -->
        <div class="product-list">

            <div class="products-heading">
                <h1>Best seller-ek</h1>
                <div class="styled-select">
                    <select>
                        <option>Lorem ipsum</option>
                    </select>
                </div>
            </div>

            <ul class="products">

                <li>
                    <a href="" title="" class="sale new">
                        <div class="new-badge">Új</div>
                        <div class="img-container">
                            <img src="pics/prod-sample-180x180.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</div>
                            <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="" title="" class="new">
                        <div class="new-badge">Új</div>
                        <div class="img-container">
                            <img src="pics/prod-sample-180x180.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="prod-name">Lorem ipsum dolor sit amet</div>
                            <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="" title="" class="sale new">
                        <div class="new-badge">Új</div>
                        <div class="img-container">
                            <img src="pics/prod-sample-180x180.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</div>
                            <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="" title="" class="sale">
                        <div class="new-badge">Új</div>
                        <div class="img-container">
                            <img src="pics/prod-sample-180x180.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="prod-name">Lorem ipsum dolor sit amet</div>
                            <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="" title="" class="sale">
                        <div class="new-badge">Új</div>
                        <div class="img-container">
                            <img src="pics/prod-sample-180x180.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</div>
                            <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="" title="" class="">
                        <div class="new-badge">Új</div>
                        <div class="img-container">
                            <img src="pics/prod-sample-180x180.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="prod-name">Lorem ipsum dolor sit amet</div>
                            <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                        </div>
                    </a>
                </li>

            </ul>

        </div>
        <!-- start: product list -->

    </div>
    <!--end: wrapper -->

</div>
