<div class="wrap">
    <div class="homepage product-list-page">

        <div class="products-heading">
            <h1>Terméklista főcím (h1) lorem ipsum dolor sit amet lorem</h1>
            <div class="styled-select">
                <select>
                    <option selected>Rendezés</option>
                    <option>Név szerint</option>
                    <option>Ár szerint</option>
                    <option>Népszerűség szerint</option>
                </select>
            </div>
        </div>

        <div class="clearfix">

            <!-- left side -->
            <div class="left-side">

                <div class="categories">

                    <div class="cat-title">Kategóriák</div>

                    <div class="cat-content">
                        <ul>
                            <li><a href="" title=""><span class="name">ÖSSZES TERMÉK</span></a></li>
                            <li><a href="" title=""><span class="name">Testsúly-kontroll formulák lorem ipsum dolor</span><span class="counter">32</span></a></li>
                            <li><a href="" title="" class="active"><span class="name">Havi akciók</span><span class="counter">3</span></a></li>
                            <li><a href="" title=""><span class="name">Fehérjék</span><span class="counter">12</span></a></li>
                            <li><a href="" title=""><span class="name">Aminosavak</span><span class="counter">32</span></a></li>
                            <li><a href="" title=""><span class="name">Ízületi támogatás</span><span class="counter">32</span></a></li>
                            <li><a href="" title=""><span class="name">Fehérjék</span><span class="counter">12</span></a></li>
                            <li><a href="" title=""><span class="name">Aminosavak</span><span class="counter">32</span></a></li>
                            <li><a href="" title=""><span class="name">Ízületi támogatás</span><span class="counter">32</span></a></li>
                            <li><a href="" title=""><span class="name">Fehérjék</span><span class="counter">12</span></a></li>
                            <li><a href="" title=""><span class="name">Aminosavak</span><span class="counter">32</span></a></li>
                            <li><a href="" title=""><span class="name">Ízületi támogatás</span><span class="counter">32</span></a></li>
                        </ul>
                    </div>

                </div>

                <div class="categories">

                    <div class="cat-title">Kategóriák 2</div>

                    <div class="cat-content">
                        <ul>
                            <li><input type="checkbox" id="chk1" checked><label for="chk1"><span class="name">Lorem ipsum</span><span class="counter">32</span></label></li>
                            <li><input type="checkbox" id="chk2"><label for="chk2"><span class="name">Lorem ipsum dolor sit amet lorem ipsum dolor</span><span class="counter">32</span></label></li>
                            <li><input type="checkbox" id="chk3"><label for="chk3"><span class="name">Lorem ipsum</span><span class="counter">32</span></label></li>
                            <li><input type="checkbox" id="chk4"><label for="chk4"><span class="name">Lorem ipsum</span><span class="counter">32</span></label></li>
                            <li><input type="checkbox" id="chk5"><label for="chk5"><span class="name">Lorem ipsum</span><span class="counter">32</span></label></li>
                            <li><input type="checkbox" id="chk6"><label for="chk6"><span class="name">Lorem ipsum</span><span class="counter">32</span></label></li>
                        </ul>
                    </div>

                </div>

            </div>

            <!-- right side -->
            <div class="right-side">

                <div class="product-list">

                    <ul class="products">

                        <li>
                            <a href="" title="" class="sale new">
                                <div class="new-badge">Új</div>
                                <div class="img-container">
                                    <img src="pics/prod-sample-180x180.jpg" alt="">
                                </div>
                                <div class="details">
                                    <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</div>
                                    <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="" title="" class="new">
                                <div class="new-badge">Új</div>
                                <div class="img-container">
                                    <img src="pics/prod-sample-180x180.jpg" alt="">
                                </div>
                                <div class="details">
                                    <div class="prod-name">Lorem ipsum dolor sit amet</div>
                                    <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="" title="" class="sale new">
                                <div class="new-badge">Új</div>
                                <div class="img-container">
                                    <img src="pics/prod-sample-180x180.jpg" alt="">
                                </div>
                                <div class="details">
                                    <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</div>
                                    <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="" title="" class="sale new">
                                <div class="new-badge">Új</div>
                                <div class="img-container">
                                    <img src="pics/prod-sample-180x180.jpg" alt="">
                                </div>
                                <div class="details">
                                    <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</div>
                                    <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="" title="" class="new">
                                <div class="new-badge">Új</div>
                                <div class="img-container">
                                    <img src="pics/prod-sample-180x180.jpg" alt="">
                                </div>
                                <div class="details">
                                    <div class="prod-name">Lorem ipsum dolor sit amet</div>
                                    <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="" title="" class="sale new">
                                <div class="new-badge">Új</div>
                                <div class="img-container">
                                    <img src="pics/prod-sample-180x180.jpg" alt="">
                                </div>
                                <div class="details">
                                    <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</div>
                                    <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="" title="" class="sale new">
                                <div class="new-badge">Új</div>
                                <div class="img-container">
                                    <img src="pics/prod-sample-180x180.jpg" alt="">
                                </div>
                                <div class="details">
                                    <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</div>
                                    <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="" title="" class="new">
                                <div class="new-badge">Új</div>
                                <div class="img-container">
                                    <img src="pics/prod-sample-180x180.jpg" alt="">
                                </div>
                                <div class="details">
                                    <div class="prod-name">Lorem ipsum dolor sit amet</div>
                                    <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="" title="" class="sale new">
                                <div class="new-badge">Új</div>
                                <div class="img-container">
                                    <img src="pics/prod-sample-180x180.jpg" alt="">
                                </div>
                                <div class="details">
                                    <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</div>
                                    <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="" title="" class="sale new">
                                <div class="new-badge">Új</div>
                                <div class="img-container">
                                    <img src="pics/prod-sample-180x180.jpg" alt="">
                                </div>
                                <div class="details">
                                    <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</div>
                                    <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="" title="" class="new">
                                <div class="new-badge">Új</div>
                                <div class="img-container">
                                    <img src="pics/prod-sample-180x180.jpg" alt="">
                                </div>
                                <div class="details">
                                    <div class="prod-name">Lorem ipsum dolor sit amet</div>
                                    <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="" title="" class="sale new">
                                <div class="new-badge">Új</div>
                                <div class="img-container">
                                    <img src="pics/prod-sample-180x180.jpg" alt="">
                                </div>
                                <div class="details">
                                    <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</div>
                                    <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="" title="" class="sale new">
                                <div class="new-badge">Új</div>
                                <div class="img-container">
                                    <img src="pics/prod-sample-180x180.jpg" alt="">
                                </div>
                                <div class="details">
                                    <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</div>
                                    <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="" title="" class="new">
                                <div class="new-badge">Új</div>
                                <div class="img-container">
                                    <img src="pics/prod-sample-180x180.jpg" alt="">
                                </div>
                                <div class="details">
                                    <div class="prod-name">Lorem ipsum dolor sit amet</div>
                                    <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="" title="" class="sale new">
                                <div class="new-badge">Új</div>
                                <div class="img-container">
                                    <img src="pics/prod-sample-180x180.jpg" alt="">
                                </div>
                                <div class="details">
                                    <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</div>
                                    <div class="price">12.345 Ft<span class="old-price">23.456 Ft</span></div>
                                </div>
                            </a>
                        </li>

                    </ul>

                </div>

                <div class="pagination">
                    <div class="styled-select">
                        <select>
                            <option selected>12 / oldal</option>
                            <option>24 / oldalt</option>
                            <option>48 / oldalt</option>
                        </select>
                    </div>
                    <ul>
                        <li><a href="" title="" class="prev"></a></li>
                        <li><a href="" title="" class="">1</a></li>
                        <li><a href="" title="" class="active">2</a></li>
                        <li><a href="" title="" class="">3</a></li>
                        <li>...</li>
                        <li><a href="" title="" class="">99</a></li>
                        <li><a href="" title="" class="next"></a></li>
                    </ul>
                </div>

            </div>

        </div>


    </div>
</div>
