<div class="homepage">

    <!-- start: ups + slider -->
    <div class="ups-slider clearfix">

        <div class="ups">
            <div class="item">
                <img src="pics/ups-280x100-1.jpg" alt="">
            </div>
            <div class="item">
                <img src="pics/ups-280x100-2.jpg" alt="">
            </div>
            <div class="item">
                <img src="pics/ups-280x100-3.jpg" alt="">
            </div>
        </div>

        <div class="main-slider-container">
            <div class="main-slider">
                <a href="" title="" class="slide">
                    <img src="pics/main-slider-880x320.jpg" alt="">
                </a>
                <a href="" title="" class="slide">
                    <img src="pics/main-slider-880x320.jpg" alt="">
                </a>
            </div>
        </div>

    </div>
    <!-- end: ups + slider -->

    <!-- start: products-heading -->
    <div class="products-heading">
        <h1>Akciós termékek</h1>
        <a href="" title="" class="see-all">Minden termék</a>
    </div>
    <!-- end: products-heading -->

    <!-- start: product list -->
    <div class="product-list">

        <ul class="products">

            <li>
                <div href="" title="" class="product-container sale new">
                    <div class="badges">
                        <div class="sale-badge">-30%</div>
                        <div class="new-badge">Új</div>
                    </div>
                    <a href="" title="" class="img-container">
                        <img src="pics/prod-sample-160x160.jpg" alt="">
                    </a>
                    <div class="details">
                        <a href="" title="" class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</a>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                    <div class="add-to-cart">
                        <a href="" title="" class="btn">Kosárba</a>
                    </div>
                </div>
            </li>

            <li>
                <div href="" title="" class="product-container sale">
                    <div class="badges">
                        <div class="sale-badge">-30%</div>
                        <div class="new-badge">Új</div>
                    </div>
                    <a href="" title="" class="img-container">
                        <img src="pics/prod-sample-160x160.jpg" alt="">
                    </a>
                    <div class="details">
                        <a href="" title="" class="prod-name">Lorem ipsum dolor sit amet lorem</a>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                    <div class="add-to-cart">
                        <a href="" title="" class="btn">Kosárba</a>
                    </div>
                </div>
            </li>

            <li>
                <div href="" title="" class="product-container new">
                    <div class="badges">
                        <div class="sale-badge">-30%</div>
                        <div class="new-badge">Új</div>
                    </div>
                    <a href="" title="" class="img-container">
                        <img src="pics/prod-sample-160x160.jpg" alt="">
                    </a>
                    <div class="details">
                        <a href="" title="" class="prod-name">Lorem ipsum dolor sit amet lorem</a>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                    <div class="add-to-cart">
                        <a href="" title="" class="btn">Kosárba</a>
                    </div>
                </div>
            </li>

            <li>
                <div href="" title="" class="product-container sale">
                    <div class="badges">
                        <div class="sale-badge">-30%</div>
                        <div class="new-badge">Új</div>
                    </div>
                    <a href="" title="" class="img-container">
                        <img src="pics/prod-sample-160x160.jpg" alt="">
                    </a>
                    <div class="details">
                        <a href="" title="" class="prod-name">Lorem ipsum dolor sit amet lorem</a>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                    <div class="add-to-cart">
                        <a href="" title="" class="btn">Kosárba</a>
                    </div>
                </div>
            </li>

            <li>
                <div href="" title="" class="product-container new">
                    <div class="badges">
                        <div class="sale-badge">-30%</div>
                        <div class="new-badge">Új</div>
                    </div>
                    <a href="" title="" class="img-container">
                        <img src="pics/prod-sample-160x160.jpg" alt="">
                    </a>
                    <div class="details">
                        <a href="" title="" class="prod-name">Lorem ipsum dolor sit amet lorem</a>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                    <div class="add-to-cart">
                        <a href="" title="" class="btn">Kosárba</a>
                    </div>
                </div>
            </li>

            <li>
                <div href="" title="" class="product-container new">
                    <div class="badges">
                        <div class="sale-badge">-30%</div>
                        <div class="new-badge">Új</div>
                    </div>
                    <a href="" title="" class="img-container">
                        <img src="pics/prod-sample-160x160.jpg" alt="">
                    </a>
                    <div class="details">
                        <a href="" title="" class="prod-name">Lorem ipsum dolor sit amet lorem</a>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                    <div class="add-to-cart">
                        <a href="" title="" class="btn">Kosárba</a>
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <!-- end: product list -->

    <!-- start: products-heading -->
    <div class="products-heading">
        <h1>Újdonságok</h1>
        <a href="" title="" class="see-all">Minden termék</a>
    </div>
    <!-- end: products-heading -->

    <!-- start: product list -->
    <div class="product-list">

        <ul class="products">

            <li>
                <div href="" title="" class="product-container sale new">
                    <div class="badges">
                        <div class="sale-badge">-30%</div>
                        <div class="new-badge">Új</div>
                    </div>
                    <a href="" title="" class="img-container">
                        <img src="pics/prod-sample-160x160.jpg" alt="">
                    </a>
                    <div class="details">
                        <a href="" title="" class="prod-name">Lorem ipsum dolor sit amet</a>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                    <div class="add-to-cart">
                        <a href="" title="" class="btn">Kosárba</a>
                    </div>
                </div>
            </li>

            <li>
                <div href="" title="" class="product-container sale">
                    <div class="badges">
                        <div class="sale-badge">-30%</div>
                        <div class="new-badge">Új</div>
                    </div>
                    <a href="" title="" class="img-container">
                        <img src="pics/prod-sample-160x160.jpg" alt="">
                    </a>
                    <div class="details">
                        <a href="" title="" class="prod-name">Lorem ipsum dolor sit amet lorem</a>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                    <div class="add-to-cart">
                        <a href="" title="" class="btn">Kosárba</a>
                    </div>
                </div>
            </li>

            <li>
                <div href="" title="" class="product-container new">
                    <div class="badges">
                        <div class="sale-badge">-30%</div>
                        <div class="new-badge">Új</div>
                    </div>
                    <a href="" title="" class="img-container">
                        <img src="pics/prod-sample-160x160.jpg" alt="">
                    </a>
                    <div class="details">
                        <a href="" title="" class="prod-name">Lorem ipsum dolor sit amet lorem</a>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                    <div class="add-to-cart">
                        <a href="" title="" class="btn">Kosárba</a>
                    </div>
                </div>
            </li>

            <li>
                <div href="" title="" class="product-container sale">
                    <div class="badges">
                        <div class="sale-badge">-30%</div>
                        <div class="new-badge">Új</div>
                    </div>
                    <a href="" title="" class="img-container">
                        <img src="pics/prod-sample-160x160.jpg" alt="">
                    </a>
                    <div class="details">
                        <a href="" title="" class="prod-name">Lorem ipsum dolor sit amet lorem</a>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                    <div class="add-to-cart">
                        <a href="" title="" class="btn">Kosárba</a>
                    </div>
                </div>
            </li>

            <li>
                <div href="" title="" class="product-container new">
                    <div class="badges">
                        <div class="sale-badge">-30%</div>
                        <div class="new-badge">Új</div>
                    </div>
                    <a href="" title="" class="img-container">
                        <img src="pics/prod-sample-160x160.jpg" alt="">
                    </a>
                    <div class="details">
                        <a href="" title="" class="prod-name">Lorem ipsum dolor sit amet lorem</a>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                    <div class="add-to-cart">
                        <a href="" title="" class="btn">Kosárba</a>
                    </div>
                </div>
            </li>

            <li>
                <div href="" title="" class="product-container new">
                    <div class="badges">
                        <div class="sale-badge">-30%</div>
                        <div class="new-badge">Új</div>
                    </div>
                    <a href="" title="" class="img-container">
                        <img src="pics/prod-sample-160x160.jpg" alt="">
                    </a>
                    <div class="details">
                        <a href="" title="" class="prod-name">Lorem ipsum dolor sit amet lorem</a>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                    <div class="add-to-cart">
                        <a href="" title="" class="btn">Kosárba</a>
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <!-- end: product list -->

    <!-- start: products-heading -->
    <div class="products-heading">
        <h1>Best sellers</h1>
        <a href="" title="" class="see-all">Minden termék</a>
    </div>
    <!-- end: products-heading -->

    <!-- start: product list -->
    <div class="product-list">

        <ul class="products">

            <li>
                <div href="" title="" class="product-container sale new">
                    <div class="badges">
                        <div class="sale-badge">-30%</div>
                        <div class="new-badge">Új</div>
                    </div>
                    <a href="" title="" class="img-container">
                        <img src="pics/prod-sample-160x160.jpg" alt="">
                    </a>
                    <div class="details">
                        <a href="" title="" class="prod-name">Lorem ipsum dolor sit amet lorem</a>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                    <div class="add-to-cart">
                        <a href="" title="" class="btn">Kosárba</a>
                    </div>
                </div>
            </li>

            <li>
                <div href="" title="" class="product-container sale">
                    <div class="badges">
                        <div class="sale-badge">-30%</div>
                        <div class="new-badge">Új</div>
                    </div>
                    <a href="" title="" class="img-container">
                        <img src="pics/prod-sample-160x160.jpg" alt="">
                    </a>
                    <div class="details">
                        <a href="" title="" class="prod-name">Lorem ipsum dolor sit amet lorem</a>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                    <div class="add-to-cart">
                        <a href="" title="" class="btn">Kosárba</a>
                    </div>
                </div>
            </li>

            <li>
                <div href="" title="" class="product-container new">
                    <div class="badges">
                        <div class="sale-badge">-30%</div>
                        <div class="new-badge">Új</div>
                    </div>
                    <a href="" title="" class="img-container">
                        <img src="pics/prod-sample-160x160.jpg" alt="">
                    </a>
                    <div class="details">
                        <a href="" title="" class="prod-name">Lorem ipsum dolor sit amet lorem</a>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                    <div class="add-to-cart">
                        <a href="" title="" class="btn">Kosárba</a>
                    </div>
                </div>
            </li>

            <li>
                <div href="" title="" class="product-container sale">
                    <div class="badges">
                        <div class="sale-badge">-30%</div>
                        <div class="new-badge">Új</div>
                    </div>
                    <a href="" title="" class="img-container">
                        <img src="pics/prod-sample-160x160.jpg" alt="">
                    </a>
                    <div class="details">
                        <a href="" title="" class="prod-name">Lorem ipsum dolor sit amet lorem</a>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                    <div class="add-to-cart">
                        <a href="" title="" class="btn">Kosárba</a>
                    </div>
                </div>
            </li>

            <li>
                <div href="" title="" class="product-container new">
                    <div class="badges">
                        <div class="sale-badge">-30%</div>
                        <div class="new-badge">Új</div>
                    </div>
                    <a href="" title="" class="img-container">
                        <img src="pics/prod-sample-160x160.jpg" alt="">
                    </a>
                    <div class="details">
                        <a href="" title="" class="prod-name">Lorem ipsum dolor sit amet lorem</a>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                    <div class="add-to-cart">
                        <a href="" title="" class="btn">Kosárba</a>
                    </div>
                </div>
            </li>

            <li>
                <div href="" title="" class="product-container new">
                    <div class="badges">
                        <div class="sale-badge">-30%</div>
                        <div class="new-badge">Új</div>
                    </div>
                    <a href="" title="" class="img-container">
                        <img src="pics/prod-sample-160x160.jpg" alt="">
                    </a>
                    <div class="details">
                        <a href="" title="" class="prod-name">Lorem ipsum dolor sit amet lorem</a>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                    <div class="add-to-cart">
                        <a href="" title="" class="btn">Kosárba</a>
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <!-- end: product list -->


</div>
