<div class="static">

    <h1>Kosár &amp; megrendelés</h1>

    <p class="lead">(Lead) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet nibh dolor. In hac habitasse platea dictumst. Maecenas convallis at lacus sit amet porttitor.</p>

    <h2>Kosár tartalma</h2>

    <div class="cart-content">
        <table>
            <tr>
                <td class="thumb"><a href="" title=""><img src="pics/prod-sample-180x240.jpg" alt=""></a></td>
                <td>
                    <a href="" title="" class="prod-name">Lorem ipsum dolor sit a termék neve</a>
                    <div class="unit-price">Egységár: 1.234Ft</div>
                </td>
                <td class="quantity">
                    <div class="quantity-container">
                        <a href="" title="" class="desc"></a>
                        <input type="text" value="99">
                        <a href="" title="" class="asc"></a>
                    </div>
                </td>
                <td class="price">1.234 Ft</td>
            </tr>
            <tr>
                <td class="thumb"><a href="" title=""><img src="pics/prod-sample-180x240.jpg" alt=""></a></td>
                <td>
                    <a href="" title="" class="prod-name">Lorem ipsum dolor sit a termék neve</a>
                    <div class="unit-price">Egységár: 1.234Ft</div>
                </td>
                <td class="quantity">
                    <div class="quantity-container">
                        <a href="" title="" class="desc"></a>
                        <input type="text" value="99">
                        <a href="" title="" class="asc"></a>
                    </div>
                </td>
                <td class="price">1.234 Ft</td>
            </tr>
            <tr>
                <td colspan="3" class="single-line">Termékek összesen:</td>
                <td class="price">23.456 Ft</td>
            </tr>
            <tr>
                <td colspan="3" class="single-line">Áfa tartalom:</td>
                <td class="price">23.456 Ft</td>
            </tr>
            <tr>
                <td colspan="3" class="sum">Mindösszesen:</td>
                <td class="price sum">23.456 Ft</td>
            </tr>
        </table>
    </div>

    <h2>Személyes adatok</h2>

    <p>Amennyiben van már nálunk felhasználó fiókja, úgy <a href="" title="">lépjen be itt</a>. Vagy <a href="" title="">regisztráljon</a>, ami számos előnnyel jár.</p>

    <div class="form-elements">

        <div class="form-line">
            <div class="input-container error">
                <label class="important">Vezetéknév</label>
                <input type="text" name="" value="" placeholder="Lorem ipsum">
                <div class="error-msg">Hibaüzenet</div>
            </div>

            <div class="input-container">
                <label class="important">Keresztnév</label>
                <input type="text" name="" value="" placeholder="Lorem ipsum">
                <div class="error-msg">Hibaüzenet</div>
            </div>
        </div>

        <div class="form-line">
            <div class="input-container">
                <label class="important">E-mail</label>
                <input type="text" name="" value="" placeholder="Lorem ipsum">
                <div class="error-msg">Hibaüzenet</div>
            </div>

            <div class="input-container">
                <label>Telefonszám</label>
                <input type="text" name="" value="" placeholder="Lorem ipsum">
                <div class="error-msg">Hibaüzenet</div>
            </div>
        </div>

    </div>



    <h3>Számlázási adatok</h3>

    <div class="form-elements">

        <div class="form-line">
            <div class="input-container">
                <label class="important">Név vagy cégnév</label>
                <input type="text" name="" value="" placeholder="Lorem ipsum">
                <div class="error-msg">Hibaüzenet</div>
            </div>

            <div class="input-container">
                <label class="">Adószám</label>
                <input type="text" name="" value="" placeholder="Lorem ipsum">
                <div class="error-msg">Hibaüzenet</div>
            </div>
        </div>

        <div class="form-line">
            <div class="input-container">
                <label class="important">Irányítószám</label>
                <input type="text" name="" value="" placeholder="Lorem ipsum">
                <div class="error-msg">Hibaüzenet</div>
            </div>

            <div class="input-container">
                <label class="important">Település</label>
                <input type="text" name="" value="" placeholder="Lorem ipsum">
                <div class="error-msg">Hibaüzenet</div>
            </div>
        </div>

        <div class="form-line">
            <div class="input-container">
                <label class="important">Utca, házszám</label>
                <input type="text" name="" value="" placeholder="Lorem ipsum">
                <div class="error-msg">Hibaüzenet</div>
            </div>

            <div class="input-container">
                <label class="important">Ország</label>
                <div class="styled-select">
                    <select>
                        <option checked>Magyarország</option>
                    </select>
                </div>
                <div class="error-msg">Hibaüzenet</div>
            </div>
        </div>

    </div>



    <h3>Szállítási adatok</h3>

    <div class="form-elements">

        <div class="form-line">
            <div class="checkbox-container">
                <input type="checkbox" id="chk1" value="" checked>
                <label for="chk1">Megegyezik a számlázási címmel</label>
            </div>
        </div>

    </div>



    <div class="form-elements" style="display:none;">

        <div class="form-line">
            <div class="input-container">
                <label class="important">Név</label>
                <input type="text" name="" value="" placeholder="Lorem ipsum">
                <div class="error-msg">Hibaüzenet</div>
            </div>
        </div>

        <div class="form-line">
            <div class="input-container">
                <label class="important">Irányítószám</label>
                <input type="text" name="" value="" placeholder="Lorem ipsum">
                <div class="error-msg">Hibaüzenet</div>
            </div>

            <div class="input-container">
                <label class="important">Település</label>
                <input type="text" name="" value="" placeholder="Lorem ipsum">
                <div class="error-msg">Hibaüzenet</div>
            </div>
        </div>

        <div class="form-line">
            <div class="input-container">
                <label class="important">Utca, házszám</label>
                <input type="text" name="" value="" placeholder="Lorem ipsum">
                <div class="error-msg">Hibaüzenet</div>
            </div>

            <div class="input-container">
                <label class="important">Ország</label>
                <div class="styled-select">
                    <select>
                        <option checked>Magyarország</option>
                    </select>
                </div>
                <div class="error-msg">Hibaüzenet</div>
            </div>
        </div>

    </div>


    <h3>Egyéb</h3>

    <div class="form-elements">

        <div class="form-line">
            <div class="checkbox-container">
                <input type="checkbox" id="chk2" value="">
                <label for="chk2">Feliratkozom a hírlevélre</label>
            </div>
        </div>
        <div class="form-line">
            <div class="checkbox-container error">
                <input type="checkbox" id="chk3" value="">
                <label for="chk3" class="important">Elfogadom az <a href="" title="">ÁSZF</a>-et</label>
                <div class="error-msg">Hibaüzenet</div>
            </div>
        </div>

    </div>

    <div class="form-btn-container">
        <a href="" title="" class="btn">Megrendelés elküldése</a>
    </div>

</div>
