// main: ../css/style.less
// 768

@media screen and (max-width: 768px) {



    //static
    .static {
        .form-elements {

            .form-line {
                margin: 0 0 20px;
                display: block;

                > div {
                    width: 100%;

                    &:first-child {
                        margin: 0 0 20px;
                    }

                    &.checkbox-container {
                        margin: 0;
                    }
                }
            }
        }
    }


    // product-list
    .product-list {

        .products {

            li {
                width: 33.33333%;
            }
        }
    }

    // product-list-page
    .product-list-page {
        .product-list {

            .products {

                li {
                    width: 33.33333%;
                }
            }
        }
    }

    .pagination {
        .justify-content(center);

        .styled-select {
            display: none;
        }
    }


    // product
    .product {
        margin: 0 0 20px;
        padding: 15px;
        display: block;

        .img-container {
            width: 100%;

            .main-pic {
                margin: 0 0 20px;
            }

            .thumbnails {
                display: none;
            }
        }

        .details {
            width: 100%;

            h1 {
                .fs(24px);
                .lh(30px);
            }

            .cart-interactions {
                margin: 0 0 30px;
                width: 100%;

                .usp {

                    .item {
                        padding: 10px;

                        .usp-name {
                            .opacity(.5);
                            .fs(10px);
                            text-transform: uppercase;
                            margin: 0 0 10px;
                        }

                        .usp-detail {
                            .fs(13px);
                            position: relative;
                            padding: 0 0 0 0;

                            &:before {
                                display: none;
                            }
                        }
                    }
                }

                .add-to {
                    .flex-display(flex);
                    .flex-direction(row);
                    .flex-wrap(nowrap);

                    .price {
                        width: 33.33333%;
                        padding: 15px 10px;
                        .semi(14px,18px,.25px);

                        .old-price {
                            .reg(13px,16px,.25px);
                        }
                    }

                    .button-container {
                        width: 66.66666%;
                        padding: 15px 10px;

                        .btn {
                            padding: 0 10px;
                        }
                    }
                }

            }
        }
    }




}
