// main: ../css/style.less
// colors

@white: #ffffff;
@body-txt: #19191f;
@body-txt-hover: #db0c13;

@border: #e7e7e8;

@top-line-bg: #2c2c2f;
@middle-bg: #19191f;


@boxes-bg: #2c2c2f;
@box-title-bg: #37373a;
@box-title-color: #fff;
@box-content-color: #fff;


@copyright-bg: #15151d;

@static-bg: #f4f4f4;
@error: #db0c13;






/*
// header



//footer
@footer-top-border: #e7627d;

// Static
@static-link: #1a1a1a;
@static-link-hover: #e7627d;

@error: #e7627d;

@sale-badge-bg: #e7627d;
@sale-badge-color: #fff;
@new-badge-bg: #50bba5;
@new-badge-color: #fff;
*/
