<div class="homepage">

    <!-- start: main slider -->
    <div class="main-slider">
        <a href="" title="" class="slide">
            <img src="pics/main-slider-1180x400.jpg">
        </a>
        <a href="" title="" class="slide">
            <img src="pics/main-slider-1180x400.jpg">
        </a>
    </div>
    <!-- end: main slider -->

    <!-- start: separator -->
    <div class="separator"></div>
    <!-- end: separator -->

    <!-- start: home-categories -->
    <div class="home-categories">

        <div class="box">
            <a href="" title="">
                <img src="pics/category-sampe-280x280.jpg" alt="">
                <div class="details">
                    <div class="cat-name">Kategória</div>
                    <div class="counter">234 termék</div>
                </div>
            </a>
        </div>

        <div class="box">
            <a href="" title="">
                <img src="pics/category-sampe-280x280.jpg" alt="">
                <div class="details">
                    <div class="cat-name">Kategória</div>
                    <div class="counter">234 termék</div>
                </div>
            </a>
        </div>

        <div class="box">
            <a href="" title="">
                <img src="pics/category-sampe-280x280.jpg" alt="">
                <div class="details">
                    <div class="cat-name">Kategória loremipsum dolor sit amet</div>
                    <div class="counter">234 termék</div>
                </div>
            </a>
        </div>

        <div class="box">
            <a href="" title="">
                <img src="pics/category-sampe-280x280.jpg" alt="">
                <div class="details">
                    <div class="cat-name">Kategória</div>
                    <div class="counter">234 termék</div>
                </div>
            </a>
        </div>

        <div class="box">
            <a href="" title="">
                <img src="pics/category-sampe-280x280.jpg" alt="">
                <div class="details">
                    <div class="cat-name">Kategória</div>
                    <div class="counter">234 termék</div>
                </div>
            </a>
        </div>

        <div class="box">
            <a href="" title="">
                <img src="pics/category-sampe-280x280.jpg" alt="">
                <div class="details">
                    <div class="cat-name">Kategória</div>
                    <div class="counter">234 termék</div>
                </div>
            </a>
        </div>

        <div class="box">
            <a href="" title="">
                <img src="pics/category-sampe-280x280.jpg" alt="">
                <div class="details">
                    <div class="cat-name">Kategória</div>
                    <div class="counter">234 termék</div>
                </div>
            </a>
        </div>

        <div class="box">
            <a href="" title="">
                <img src="pics/category-sampe-280x280.jpg" alt="">
                <div class="details">
                    <div class="cat-name">Kategória</div>
                    <div class="counter">234 termék</div>
                </div>
            </a>
        </div>

    </div>
    <!-- end: home-categories -->

    <!-- start: separator -->
    <div class="separator"></div>
    <!-- end: separator -->

    <!-- start: home-tabs -->
    <div class="home-tabs">
        <ul>
            <li><a href="" title="" class="active">Akció</a></li>
            <li><a href="" title="">Újdonságok</a></li>
            <li><a href="" title="">Best sellers</a></li>
        </ul>
    </div>
    <!-- end: home-tabs -->

    <!-- start: product list -->
    <div class="product-list">

        <ul class="products">

            <li>
                <a href="" title="" class="sale new">
                    <div class="sale-badge">%</div>
                    <div class="new-badge">Új</div>
                    <div class="img-container">
                        <img src="pics/prod-sample-180x240.jpg" alt="">
                    </div>
                    <div class="details">
                        <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum ipsum dolor sit amet lorem ipsum</div>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                </a>
            </li>

            <li>
                <a href="" title="" class="new">
                    <div class="sale-badge">%</div>
                    <div class="new-badge">Új</div>
                    <div class="img-container">
                        <img src="pics/prod-sample-180x240.jpg" alt="">
                    </div>
                    <div class="details">
                        <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum</div>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                </a>
            </li>

            <li>
                <a href="" title="" class="sale">
                    <div class="sale-badge">%</div>
                    <div class="new-badge">Új</div>
                    <div class="img-container">
                        <img src="pics/prod-sample-180x240.jpg" alt="">
                    </div>
                    <div class="details">
                        <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum</div>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                </a>
            </li>

            <li>
                <a href="" title="" class="">
                    <div class="sale-badge">%</div>
                    <div class="new-badge">Új</div>
                    <div class="img-container">
                        <img src="pics/prod-sample-180x240.jpg" alt="">
                    </div>
                    <div class="details">
                        <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum</div>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                </a>
            </li>

            <li>
                <a href="" title="" class="sale">
                    <div class="sale-badge">%</div>
                    <div class="new-badge">Új</div>
                    <div class="img-container">
                        <img src="pics/prod-sample-180x240.jpg" alt="">
                    </div>
                    <div class="details">
                        <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum</div>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                </a>
            </li>

            <li>
                <a href="" title="" class="">
                    <div class="sale-badge">%</div>
                    <div class="new-badge">Új</div>
                    <div class="img-container">
                        <img src="pics/prod-sample-180x240.jpg" alt="">
                    </div>
                    <div class="details">
                        <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum</div>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                </a>
            </li>

            <li>
                <a href="" title="" class="sale new">
                    <div class="sale-badge">%</div>
                    <div class="new-badge">Új</div>
                    <div class="img-container">
                        <img src="pics/prod-sample-180x240.jpg" alt="">
                    </div>
                    <div class="details">
                        <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum</div>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                </a>
            </li>

            <li>
                <a href="" title="" class="new">
                    <div class="sale-badge">%</div>
                    <div class="new-badge">Új</div>
                    <div class="img-container">
                        <img src="pics/prod-sample-180x240.jpg" alt="">
                    </div>
                    <div class="details">
                        <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum</div>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                </a>
            </li>

            <li>
                <a href="" title="" class="">
                    <div class="sale-badge">%</div>
                    <div class="new-badge">Új</div>
                    <div class="img-container">
                        <img src="pics/prod-sample-180x240.jpg" alt="">
                    </div>
                    <div class="details">
                        <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum</div>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                </a>
            </li>

            <li>
                <a href="" title="" class="new">
                    <div class="sale-badge">%</div>
                    <div class="new-badge">Új</div>
                    <div class="img-container">
                        <img src="pics/prod-sample-180x240.jpg" alt="">
                    </div>
                    <div class="details">
                        <div class="prod-name">Lorem ipsum dolor sit amet lorem ipsum</div>
                        <div class="price"><span class="old-price">23.456 Ft</span>12.345 Ft</div>
                    </div>
                </a>
            </li>


        </ul>

    </div>
    <!-- start: product list -->

    <!-- start: see all btn -->
    <div class="see-all-container">
        <a href="" title="" class="btn">Lorem ipsum</a>
    </div>
    <!-- end: see all btn -->


</div>
